// rvtest_config.svh
// David_Harris@hmc.edu 7 September 2024
// SPDX-License-Identifier: Apache-2.0
// Modified from https://github.com/riscv/riscv-arch-test/blob/886a5ef7832d59c7d494f1ba5030b2c470919aa7/config/cores/cvw/cvw-rv32imc/rvtest_config.svh
//   on 17 June 2026

// This file is needed in the config subdirectory for each config supporting coverage.
// It defines which extensions are enabled for that config.

// Define XLEN, used in covergroups
`define XLEN32

// PMP Grain (G)
// Set G as needed (e.g., 0, 1, 2, ...)
`define G 0

// Uncomment below if G = 0
`define G_IS_0

// PMP mode selection
// `define None     // Choose between PMP_16 or PMP_64 or None

// Base addresses specific for PMP
`define RAM_BASE_ADDR       32'h80000000  // PMP Region starts at RAM_BASE_ADDR + LARGEST_PROGRAM
`define LARGEST_PROGRAM     32'h00001000

// Define relevant addresses
`define RVMODEL_ACCESS_FAULT_ADDRESS 32'h00000000
`define CLINT_BASE 32'h02000000
